html,
body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #DAD2D8;
}

.navbar {
  margin-bottom: 0;
}

.navbar-form button {
  margin-left: 5px;
  margin-right: 5px;
}

.btn.btn-disabled:hover {
  cursor: default;
}

#address {
  min-width: 300px;
}

.navbar-logo {
  color: #DB2763;
  font-weight: 600;
  margin-top: 8px;
}

.navbar-text {
  color: white;
}

.container {
  width: 100vw;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#list-container select {
  max-width: 55px;
  float: left;
  margin-right: 5px;
}
